<html>
    <head>
        <title>Історія відомих брендів: BMW</title>
        <meta charset="1251">
        <link rel="stylesheet" href="{{ url_for('static', filename='BMW.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body class="general">

        <header>
            <nav>
                <a href="/index">Головна</a>
                <a href="/BMW">BMW</a>
                <a href="/Mercedes">Mercedes</a>
                <a href="/Audi">Audi</a>
                <a href="/Volkswagen">Volkswagen</a>
                <a href="/About">Про нас</a>
            </nav>
        </header>
        <h1>BMW</h1>
        <h2>Історія</h2>
        <h4>До Другої світової війни</h4><hr>
        <p>BMW була заснована Карлом Фрідріхом Раппом у жовтні 1916 року, спочатку як виробник авіаційних двигунів, Bayerische Flugzeug-Werke. Округ Мюнхена Milbertshofen був обраний місцем діяльності, оскільки тут розташовувалася Flugmaschinenfabrik Густава Отто – німецького виробника літаків.</p>
        <p>У 1916 році компанія підписує контракт на виробництво двигунів V12 для Австро-Угорщини. Потребуючи додаткового фінансування, Рапп отримує підтримку Камілло Кастільйоні і Макса Фріца, компанія відтворюється як Bayerische Motoren Werke GmbH. Надмірне розширення стало причиною ускладнень, Рапп покинув компанію, і керівництво компанією було прийнято австрійським промисловцем Францем Джозефом Поппом у 1917 році, компанія була перейменована у BMW AG у 1918.</p>
        <p>У 1919 році Франц Дімер встановив перший світовий рекорд BMW, піднявшись на висоту 9760 метрів на аероплані з двигуном BMW.</p>
        <p>
            1922 рік – BMW будує свою нинішню основну будівлю на схід від мюнхенського аеропорту Обервізенфільд (Сьогодні це міський олімпійський центр).
        </p>
        <p>
            У 1923 році BMW випускає перший мотоцикл – R32, який мав горизонтально-опозитний двигун повітряного охолодження обʼємом 500 кубів.
        </p>
        <p>
            1924 – перший міжконтинентальний політ у Персію на літаку, оснащеному двигунами BMW.
        </p>
        <p>
            1926 – гідролітак Rohrbach Ro VII з двигунами BMW VI встановлює пʼять світових рекордів.
        </p>
        <p>
            1927 – у цьому році було встановлено 87 світових рекордів в авіації. 29 з них – на літаках з двигуном BMW
        </p>
        <p>
            1939 – початок серійного виробництва найбільшої і найпотужнішої довоєнної моделі BMW 335.
        </p>
        <h4>Після Другої світової війни</h4><hr>
        <p>1948 — мотоцикл BMW R 24 з Мюнхена стає першим післявоєнним виробом BMW.</p>
        <p>1950 — BMW R51 / 2 — відродження мотоциклів з двоциліндровими двигунами.</p>
        <p>1951 — BMW виробляє свій перший післявоєнний автомобіль — 501.</p>
        <p>1954 — BMW стає чемпіоном світу в перегонах мотоциклів з колясками та утримує світову першість наступні двадцять років.</p>
        <p>1955 — відділення BMW Triebwerk GmbH повертається до життя. Компанія орієнтується на традиції виробництва авіамоторів. Наступним кроком у правильному напрямку стала зміна політики компанії BMW з метою популяризації своєї продукції у середнього класу. А першим масовим автомобілем у післявоєнні роки стала BMW Isetta. Ідея створення мініатюрної машини належала італійській компанії Iso, а створений нею прототип кузова був куплений німцями.</p>
        <p>1956 — спортивні автомобілі моделей 503 і 507.</p>
        <p>1959 — модель 700 стала першим великим серійним успіхом для автомобілів BMW. Компанія BMW виставляється на продаж.</p>
        <p>1994 — запущено завод BMW у Спартанбурзі. Відкрито 16-ту філію BMW de Mexico SA, створено торгове представництво в Пекіні.</p>
        <p>1995 — презентація легендарного BMW Z3 Roadster. Автомобіль стає зіркою кінематографу й знімається у фільмі про Джеймса Бонда.</p>
        <p>1999 — на автосалоні в Детройті проходить представлення нового повнопривідного автомобіля BMW X5.</p>
        <p>Нині BMW, що почалася з маленького авіамоторного заводу, виробляє свою продукцію на п'яти заводах у Німеччині і двадцяти двох дочірніх підприємствах по всьому світу.</p>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>