body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #343a40;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #ffc107;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

h1, h2, h4 {
    color: #007bff;
}
h1{
    text-align: center;
}

p {
    text-align: justify;
}

.factory, .car {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Add more styles as needed */
