body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #343a40;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #ffc107;
}

img {
    width: 5%;
    height: auto;
}

h1, h2, h4, p {
    margin-left: 20px;
}
h1{
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}
